[submodule "Site/wp-content/themes/R4G"]
	path = Site/wp-content/themes/R4G
	url = https://Since84@github.com/Since84/R4G-Elefint.git
	fetchRecurseSubmodules = true
	ignore = all
[submodule "Site/wp-content/themes/AG"]
	path = Site/wp-content/themes/AG
	url = https://Since84@github.com/Since84/AG
[submodule "Site/wp-content/themes/Spark15/style/spark/gumby"]
	path = Site/wp-content/themes/Spark15/style/spark/gumby
	url = http://github.com/GumbyFramework/Gumby.git
[submodule "Site/wp-content/themes/infograph15"]
	path = Site/wp-content/themes/infograph15
	url = https://Since84@github.com/Since84/infograph.git
