[submodule "Site/wp-content/themes/R4G"]
	path = Site/wp-content/themes/R4G
	url = https://Since84@github.com/Since84/R4G-Elefint.git
[submodule "Site/wp-content/themes/AG15"]
	path = Site/wp-content/themes/AG15
	url = https://github.com/Since84/AG.git
