<header class="spark-header spark-region two-button-mobile">
	<div class="left-container spark-region"><a class="site-logo" href="home"><img src="{{ logo }}"/></a></div>
	<div class="right-container spark-region">
		{{ header_right }}
	</div>
	<div class="mobile-btn search-btn "><i class="search-button spark-icon-search"></i></div>
</header>